In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("/content/LoanExport[1].csv")

<ipython-input-2-0d370246549a>:1: DtypeWarning: Columns (18,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/LoanExport[1].csv")

In [3]:
df.head(20)

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360.0,2,FL,WASHINGTONMUTUALBANK,0.0,0.0,52.0
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360.0,1,FT,CHASEHOMEFINANCELLC,0.0,0.0,144.0
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360.0,2,FL,WASHINGTONMUTUALBANK,0.0,0.0,67.0
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360.0,2,GM,GMACMTGECORP,0.0,0.0,35.0
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360.0,2,GM,GMACMTGECORP,0.0,0.0,54.0
5,0,199902,N,202901,X,25,1,O,89,40,...,80400,F199Q1224802,N,360.0,2,Ot,Other servicers,0.0,0.0,42.0
6,0,199902,N,202901,X,25,1,O,90,21,...,53100,F199Q1291436,P,360.0,1,RE,Other servicers,0.0,0.0,44.0
7,0,199902,X,202901,36740,0,1,O,72,20,...,32800,F199Q1001824,N,360.0,1,NO,WELLSFARGOBANKNA,1.0,3.0,145.0
8,0,199902,Y,202710,25540,30,1,O,95,38,...,6400,F199Q1079744,P,345.0,1,Ot,Other servicers,0.0,0.0,64.0
9,0,199902,Y,202901,48620,30,1,O,95,27,...,67000,F199Q1196318,P,360.0,1,Ot,WELLSFARGOBANKNA,1.0,104.0,212.0
10,0,199903,N,202902,12060,0,1,O,80,19,...,30100,F199Q1309144,P,360.0,2,Ot,Other servicers,0.0,0.0,37.0
11,0,199903,N,202902,12060,12,1,O,77,18,...,30000,F199Q1363208,C,360.0,1,ST,ABNAMROMTGEGROUPINC,0.0,0.0,47.0
12,0,199903,N,202902,12060,12,1,O,85,38,...,30100,F199Q1388109,P,360.0,1,Ot,BANKOFAMERICANA,0.0,0.0,53.0
13,0,199903,N,202902,12060,25,1,O,90,19,...,30600,F199Q1388083,N,360.0,2,Ot,BANKOFAMERICANA,0.0,0.0,55.0
14,0,199903,N,202902,12060,25,1,O,90,23,...,30200,F199Q1312860,P,360.0,2,ST,CHASEMANHATTANMTGECO,0.0,0.0,66.0
15,0,199903,N,202902,12060,25,1,O,90,45,...,30300,F199Q1271788,N,360.0,1,Ot,BANKOFAMERICANA,1.0,5.0,55.0
16,0,199903,N,202902,12060,30,1,O,95,28,...,30000,F199Q1311724,P,360.0,1,CR,CHASEMANHATTANMTGECO,1.0,23.0,55.0
17,0,199903,N,202902,12420,25,1,O,90,27,...,78700,F199Q1330011,P,360.0,2,Ot,HOMESIDELENDINGINC,0.0,0.0,26.0
18,0,199903,N,202902,13140,25,1,O,90,29,...,77700,F199Q1321742,P,360.0,2,CH,CHASEMTGECO,0.0,0.0,38.0
19,0,199903,N,202902,13644,25,1,O,90,15,...,20800,F199Q1245176,P,360.0,1,FI,WELLSFARGOHOMEMORTGA,0.0,0.0,36.0

In [4]:
df.tail()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
33082,644,199903,X,202902,40060,0,1,O,75,14,...,23100.0,F199Q1119192,N,360.0,2.0,HO,WASHINGTONMUTUALBANK,1.0,14.0,64.0
33083,644,199903,X,202902,40060,0,1,O,76,27,...,23800.0,F199Q1082511,C,360.0,2.0,OL,BANKOFAMERICANA,0.0,0.0,71.0
33084,644,199903,X,202902,40060,12,1,O,82,0,...,23200.0,F199Q1369264,N,360.0,2.0,FI,Other servicers,0.0,0.0,139.0
33085,644,199903,X,202902,41180,0,1,O,80,42,...,63300.0,F199Q1063641,C,360.0,2.0,FL,CHASEMANHATTANMTGECO,0.0,0.0,58.0
33086,644,199903,X,202902,41180,0,1,O,80,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(33087, 28)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33087 entries, 0 to 33086
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CreditScore         33087 non-null  int64
 1   FirstPaymentDate    33087 non-null  int64
 2   FirstTimeHomebuyer  33087 non-null  object
 3   MaturityDate        33087 non-null  int64
 4   MSA                 33087 non-null  object
 5   MIP                 33087 non-null  int64
 6   Units               33087 non-null  int64
 7   Occupancy           33087 non-null  object
 8   OCLTV               33087 non-null  int64
 9   DTI                 33087 non-null  int64
 10  OrigUPB             33087 non-null  int64
 11  LTV                 33087 non-null  int64
 12  OrigInterestRate    33087 non-null  float64
 13  Channel             33087 non-null  object
 14  PPM                 33087 non-null  object
 15  ProductType         33087 non-null  object
 16  PropertyState       33087 non-null  object
 17  PropertyType        33086 non-null  object
 18  PostalCode          33086 non-null  object
 19  LoanSeqNum          33086 non-null  object
 20  LoanPurpose         33086 non-null  object
 21  OrigLoanTerm        33086 non-null  float64
 22  NumBorrowers        33086 non-null  object
 23  SellerName          30379 non-null  object
 24  ServicerName        33086 non-null  object
 25  EverDelinquent      33086 non-null  float64
 26  MonthsDelinquent    33086 non-null  float64
 27  MonthsInRepayment   33086 non-null  float64
dtypes: float64(5), int64(9), object(14)
memory usage: 7.1+ MB

In [7]:
# Initialize a list to keep track of columns containing 'X'
columns_with_x = []

# Loop through each column to check for 'X'
for column in df.columns:
    if df[column].dtype == object:  # Ensure we only check object type columns
        if df[column].str.contains('X', na=False).any():  # Check if 'X' is present in the column
            columns_with_x.append(column)

# Replace 'X' with the mode value in the identified columns
for column in columns_with_x:
    mode_value = df[column].mode()[0]  # Calculate the mode (most frequent value) of the column
    df[column] = df[column].replace('X', mode_value)

# Output the result
print(f"Replaced 'X' with mode values in the following columns: {columns_with_x}")

Replaced 'X' with mode values in the following columns: ['FirstTimeHomebuyer', 'MSA', 'PPM', 'PropertyState', 'PostalCode', 'NumBorrowers']

In [8]:
df.head(20)

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360.0,2,FL,WASHINGTONMUTUALBANK,0.0,0.0,52.0
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360.0,1,FT,CHASEHOMEFINANCELLC,0.0,0.0,144.0
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360.0,2,FL,WASHINGTONMUTUALBANK,0.0,0.0,67.0
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360.0,2,GM,GMACMTGECORP,0.0,0.0,35.0
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360.0,2,GM,GMACMTGECORP,0.0,0.0,54.0
5,0,199902,N,202901,X,25,1,O,89,40,...,80400,F199Q1224802,N,360.0,2,Ot,Other servicers,0.0,0.0,42.0
6,0,199902,N,202901,X,25,1,O,90,21,...,53100,F199Q1291436,P,360.0,1,RE,Other servicers,0.0,0.0,44.0
7,0,199902,N,202901,36740,0,1,O,72,20,...,32800,F199Q1001824,N,360.0,1,NO,WELLSFARGOBANKNA,1.0,3.0,145.0
8,0,199902,Y,202710,25540,30,1,O,95,38,...,6400,F199Q1079744,P,345.0,1,Ot,Other servicers,0.0,0.0,64.0
9,0,199902,Y,202901,48620,30,1,O,95,27,...,67000,F199Q1196318,P,360.0,1,Ot,WELLSFARGOBANKNA,1.0,104.0,212.0
10,0,199903,N,202902,12060,0,1,O,80,19,...,30100,F199Q1309144,P,360.0,2,Ot,Other servicers,0.0,0.0,37.0
11,0,199903,N,202902,12060,12,1,O,77,18,...,30000,F199Q1363208,C,360.0,1,ST,ABNAMROMTGEGROUPINC,0.0,0.0,47.0
12,0,199903,N,202902,12060,12,1,O,85,38,...,30100,F199Q1388109,P,360.0,1,Ot,BANKOFAMERICANA,0.0,0.0,53.0
13,0,199903,N,202902,12060,25,1,O,90,19,...,30600,F199Q1388083,N,360.0,2,Ot,BANKOFAMERICANA,0.0,0.0,55.0
14,0,199903,N,202902,12060,25,1,O,90,23,...,30200,F199Q1312860,P,360.0,2,ST,CHASEMANHATTANMTGECO,0.0,0.0,66.0
15,0,199903,N,202902,12060,25,1,O,90,45,...,30300,F199Q1271788,N,360.0,1,Ot,BANKOFAMERICANA,1.0,5.0,55.0
16,0,199903,N,202902,12060,30,1,O,95,28,...,30000,F199Q1311724,P,360.0,1,CR,CHASEMANHATTANMTGECO,1.0,23.0,55.0
17,0,199903,N,202902,12420,25,1,O,90,27,...,78700,F199Q1330011,P,360.0,2,Ot,HOMESIDELENDINGINC,0.0,0.0,26.0
18,0,199903,N,202902,13140,25,1,O,90,29,...,77700,F199Q1321742,P,360.0,2,CH,CHASEMTGECO,0.0,0.0,38.0
19,0,199903,N,202902,13644,25,1,O,90,15,...,20800,F199Q1245176,P,360.0,1,FI,WELLSFARGOHOMEMORTGA,0.0,0.0,36.0

In [9]:
# Verify 'X' values are no longer present
print("Checking for 'X' values in the DataFrame:")
x_values_present = df.apply(lambda x: x.astype(str).str.contains('X').any(), axis=0)
print(x_values_present)

Checking for 'X' values in the DataFrame:
CreditScore           False
FirstPaymentDate      False
FirstTimeHomebuyer    False
MaturityDate          False
MSA                    True
MIP                   False
Units                 False
Occupancy             False
OCLTV                 False
DTI                   False
OrigUPB               False
LTV                   False
OrigInterestRate      False
Channel               False
PPM                   False
ProductType           False
PropertyState          True
PropertyType          False
PostalCode             True
LoanSeqNum            False
LoanPurpose           False
OrigLoanTerm          False
NumBorrowers           True
SellerName            False
ServicerName          False
EverDelinquent        False
MonthsDelinquent      False
MonthsInRepayment     False
dtype: bool

In [10]:
mode_property_type = df['PropertyType'].mode()[0]

# Replace values containing 'X' with the mode
df['PropertyType'] = df['PropertyType'].apply(lambda x: mode_property_type if 'X' in str(x) else x)

In [11]:
# Remove rows where 'MSA' contains 'X'
df = df[~df['MSA'].str.contains('X')]

In [12]:
 df.shape

(28435, 28)

In [13]:
# Remove rows where 'PostalCode' is 'X'
df = df[df['PostalCode'].str.strip().str.upper() != 'X']

# Verify that 'X' has been removed
if 'X' in df['PostalCode'].unique():
    print("There are still 'X' values in the 'PostalCode' column.")
else:
    print("All 'X' values have been successfully removed from the 'PostalCode' column.")

All 'X' values have been successfully removed from the 'PostalCode' column.

In [14]:
df.shape

(28435, 28)

In [15]:
mode = df['PropertyState'].mode()[0]

# Replace values containing 'X' with the mode
df['PropertyState'] = df['PropertyState'].apply(lambda x: mode if 'X' in str(x) else x)

In [16]:
df['NumBorrowers'] = df['NumBorrowers'].replace('X', pd.NA)

# Convert the column to numeric, forcing any remaining non-numeric values to NaN
df['NumBorrowers'] = pd.to_numeric(df['NumBorrowers'], errors='coerce')

# Calculate the mean value of the column, ignoring NaNs
mean_value = df['NumBorrowers'].mean()

# Replace NaN values with the calculated mean
df['NumBorrowers'].fillna(mean_value, inplace=True)

In [17]:
print("Checking for 'X' values in the DataFrame:")
x_values_present = df.apply(lambda x: x.astype(str).str.contains('X').any(), axis=0)
print(x_values_present)

Checking for 'X' values in the DataFrame:
CreditScore           False
FirstPaymentDate      False
FirstTimeHomebuyer    False
MaturityDate          False
MSA                   False
MIP                   False
Units                 False
Occupancy             False
OCLTV                 False
DTI                   False
OrigUPB               False
LTV                   False
OrigInterestRate      False
Channel               False
PPM                   False
ProductType           False
PropertyState         False
PropertyType          False
PostalCode            False
LoanSeqNum            False
LoanPurpose           False
OrigLoanTerm          False
NumBorrowers          False
SellerName            False
ServicerName          False
EverDelinquent        False
MonthsDelinquent      False
MonthsInRepayment     False
dtype: bool

In [18]:
df.isna().sum()

CreditScore              0
FirstPaymentDate         0
FirstTimeHomebuyer       0
MaturityDate             0
MSA                      0
MIP                      0
Units                    0
Occupancy                0
OCLTV                    0
DTI                      0
OrigUPB                  0
LTV                      0
OrigInterestRate         0
Channel                  0
PPM                      0
ProductType              0
PropertyState            0
PropertyType             1
PostalCode               1
LoanSeqNum               1
LoanPurpose              1
OrigLoanTerm             1
NumBorrowers             0
SellerName            2403
ServicerName             1
EverDelinquent           1
MonthsDelinquent         1
MonthsInRepayment        1
dtype: int64

In [19]:

    column_with_nulls = 'SellerName'

    # Check if the specified column exists in the dataframe
    if column_with_nulls in df.columns:
        df[column_with_nulls] = df[column_with_nulls].astype(str)

In [20]:
df.isna().sum()

CreditScore           0
FirstPaymentDate      0
FirstTimeHomebuyer    0
MaturityDate          0
MSA                   0
MIP                   0
Units                 0
Occupancy             0
OCLTV                 0
DTI                   0
OrigUPB               0
LTV                   0
OrigInterestRate      0
Channel               0
PPM                   0
ProductType           0
PropertyState         0
PropertyType          1
PostalCode            1
LoanSeqNum            1
LoanPurpose           1
OrigLoanTerm          1
NumBorrowers          0
SellerName            0
ServicerName          1
EverDelinquent        1
MonthsDelinquent      1
MonthsInRepayment     1
dtype: int64

In [21]:
df.duplicated().sum()

0

In [22]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CreditScore,28435.0,596.722279,116.206206,0.00,607.00,625.0,635.00,644.0
FirstPaymentDate,28435.0,199904.569193,10.057622,199902.00,199903.00,199904.0,199905.00,200309.0
MaturityDate,28435.0,202902.254229,17.708529,202405.00,202902.00,202903.0,202904.00,203308.0
MIP,28435.0,12.894039,13.301805,0.00,0.00,12.0,25.00,52.0
Units,28435.0,1.017197,0.154939,1.00,1.00,1.0,1.00,4.0
OCLTV,28435.0,81.339617,12.426127,0.00,75.00,80.0,90.00,103.0
DTI,28435.0,31.544786,12.391014,0.00,25.00,33.0,40.00,65.0
OrigUPB,28435.0,125086.653772,51705.832931,10000.00,85000.00,119000.0,159000.00,390000.0
LTV,28435.0,81.325514,12.428841,0.00,75.00,80.0,90.00,103.0
OrigInterestRate,28435.0,7.023550,0.403177,4.75,6.75,7.0,7.25,11.5
OrigLoanTerm,28434.0,359.848667,2.170500,301.00,360.00,360.0,360.00,360.0
NumBorrowers,28435.0,1.643831,0.478504,1.00,1.00,2.0,2.00,2.0
EverDelinquent,28434.0,0.407927,0.491458,0.00,0.00,0.0,1.00,1.0
MonthsDelinquent,28434.0,5.468735,15.275715,0.00,0.00,0.0,3.00,180.0
MonthsInRepayment,28434.0,61.678941,48.279699,1.00,33.00,48.0,66.00,212.0

In [23]:
df.describe(include='object')

,FirstTimeHomebuyer,MSA,Occupancy,Channel,PPM,ProductType,PropertyState,PropertyType,PostalCode,LoanSeqNum,LoanPurpose,SellerName,ServicerName
count,28435,28435,28435,28435,28435,28435,28435,28434,28434,28434,28434,28435,28434
unique,2,386,3,4,2,1,51,6,861,28434,3,21,20
top,N,16974,O,T,N,FRM,CA,SF,30000,F199Q1268030,N,Ot,Other servicers
freq,24884,1088,27728,16132,28123,28435,5558,24327,395,1,11740,6998,6287

In [24]:
df.select_dtypes(include='number').corr()

,CreditScore,FirstPaymentDate,MaturityDate,MIP,Units,OCLTV,DTI,OrigUPB,LTV,OrigInterestRate,OrigLoanTerm,NumBorrowers,EverDelinquent,MonthsDelinquent,MonthsInRepayment
CreditScore,1.000000,-0.008765,0.016049,0.003466,-0.028247,0.022811,0.064464,0.031428,0.022896,-0.017534,0.019773,0.101085,0.037990,0.016802,-0.016753
FirstPaymentDate,-0.008765,1.000000,0.133139,-0.024725,0.009042,-0.020665,-0.001381,0.040868,-0.023931,0.040892,-0.417795,0.009459,-0.028822,-0.015454,-0.027639
MaturityDate,0.016049,0.133139,1.000000,-0.017058,-0.000722,-0.013092,0.056358,0.018323,-0.015031,0.000720,0.829074,-0.003898,-0.011610,0.001166,-0.004218
MIP,0.003466,-0.024725,-0.017058,1.000000,-0.041384,0.778213,0.056832,0.068443,0.778843,0.105324,0.000677,0.016917,0.021820,0.016529,-0.103632
Units,-0.028247,0.009042,-0.000722,-0.041384,1.000000,-0.051112,0.005507,0.048894,-0.050975,0.033799,-0.006065,-0.027467,0.001627,-0.008934,0.000400
OCLTV,0.022811,-0.020665,-0.013092,0.778213,-0.051112,1.000000,0.046674,0.125542,0.999388,0.055504,0.002632,0.029991,0.023700,0.028910,-0.100187
DTI,0.064464,-0.001381,0.056358,0.056832,0.005507,0.046674,1.000000,0.081537,0.046396,0.075808,0.049314,-0.035722,0.016183,0.012188,-0.011559
OrigUPB,0.031428,0.040868,0.018323,0.068443,0.048894,0.125542,0.081537,1.000000,0.124999,-0.100727,-0.005179,0.191722,-0.062781,-0.085750,-0.184095
LTV,0.022896,-0.023931,-0.015031,0.778843,-0.050975,0.999388,0.046396,0.124999,1.000000,0.056053,0.002553,0.029832,0.023842,0.028969,-0.100780
OrigInterestRate,-0.017534,0.040892,0.000720,0.105324,0.033799,0.055504,0.075808,-0.100727,0.056053,1.000000,-0.019054,-0.050190,0.034097,0.027567,-0.121995
OrigLoanTerm,0.019773,-0.417795,0.829074,0.000677,-0.006065,0.002632,0.049314,-0.005179,0.002553,-0.019054,1.000000,-0.010315,0.005813,0.009505,0.010397
NumBorrowers,0.101085,0.009459,-0.003898,0.016917,-0.027467,0.029991,-0.035722,0.191722,0.029832,-0.050190,-0.010315,1.000000,-0.069991,-0.053982,-0.035831
EverDelinquent,0.037990,-0.028822,-0.011610,0.021820,0.001627,0.023700,0.016183,-0.062781,0.023842,0.034097,0.005813,-0.069991,1.000000,0.431310,0.277274
MonthsDelinquent,0.016802,-0.015454,0.001166,0.016529,-0.008934,0.028910,0.012188,-0.085750,0.028969,0.027567,0.009505,-0.053982,0.431310,1.000000,0.459575
MonthsInRepayment,-0.016753,-0.027639,-0.004218,-0.103632,0.000400,-0.100187,-0.011559,-0.184095,-0.100780,-0.121995,0.010397,-0.035831,0.277274,0.459575,1.000000

In [25]:
df = df.dropna()

In [26]:
df.shape

(28434, 28)

In [27]:
df = df.drop_duplicates()

In [28]:
df.shape

(28434, 28)

In [30]:
df
if 'CreditScore' in df.columns:
    # Calculate the range
    min_value = df['CreditScore'].min()
    max_value = df['CreditScore'].max()
    data_range = max_value - min_value

    print(f"Range of 'monthsirepayment' column: {min_value}")
    print(f"Range of 'monthsirepayment' column: {max_value}")
else:
    print("Column 'monthsirepayment' not found in the dataframe.")

Range of 'monthsirepayment' column: 0
Range of 'monthsirepayment' column: 644

In [31]:

credit_score_bins = [0, 650, 700, 750, 900]
credit_score_labels = ['Poor', 'Fair', 'Good', 'Excellent']

# Convert CreditScore to categorical using cut function
df['CreditScore_ca'] = pd.cut(df['CreditScore'], bins=credit_score_bins, labels=credit_score_labels, right=False)

df.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment,CreditScore_ca
0,0,199902,N,202901,16974,25,1,O,89,27,...,F199Q1268030,P,360.0,2.0,FL,WASHINGTONMUTUALBANK,0.0,0.0,52.0,Poor
1,0,199902,N,202901,19740,0,1,O,73,17,...,F199Q1015092,N,360.0,1.0,FT,CHASEHOMEFINANCELLC,0.0,0.0,144.0,Poor
2,0,199902,N,202901,29940,0,1,O,75,16,...,F199Q1266886,N,360.0,2.0,FL,WASHINGTONMUTUALBANK,0.0,0.0,67.0,Poor
3,0,199902,N,202901,31084,0,1,O,76,14,...,F199Q1178167,N,360.0,2.0,GM,GMACMTGECORP,0.0,0.0,35.0,Poor
4,0,199902,N,202901,35644,0,1,O,78,18,...,F199Q1178517,N,360.0,2.0,GM,GMACMTGECORP,0.0,0.0,54.0,Poor

In [32]:

if 'LTV' in df.columns:
    # Calculate the range
    min_value = df['LTV'].min()
    max_value = df['LTV'].max()
    data_range = max_value - min_value

    print(f"Range of 'monthsirepayment' column: {min_value}")
    print(f"Range of 'monthsirepayment' column: {max_value}")
else:
    print("Column 'monthsirepayment' not found in the dataframe.")

Range of 'monthsirepayment' column: 0
Range of 'monthsirepayment' column: 103

In [33]:

# Define custom bins and labels for LTV
ltv_bins = [0, 25, 50, 103]
ltv_labels = ['Low', 'Medium', 'High']

# Convert LTV to categorical using cut function
df['LTV_ca'] = pd.cut(df['LTV'], bins=ltv_bins, labels=ltv_labels, right=False)

In [34]:
if 'MonthsInRepayment' in df.columns:
    # Convert the column to numeric, forcing errors to NaN
    df['MonthsInRepayment'] = pd.to_numeric(df['MonthsInRepayment'], errors='coerce')

    # Calculate the range
    min_value = df['MonthsInRepayment'].min()
    max_value = df['MonthsInRepayment'].max()
    data_range = max_value - min_value

    print(f"Range of 'MonthsInRepayment' column: {min_value} to {max_value} ")
else:
    print("Column 'MonthsInRepayment' not found in the dataframe.")

Range of 'MonthsInRepayment' column: 1.0 to 212.0

In [35]:

months_bins = [0, 70, 140, 220]
months_labels = ['Early Paid', 'Mediumly Paid', 'Late Paid']

# Convert MonthsInRepayment to categorical using cut function
df['MonthsInRepayment_ca'] = pd.cut(df['MonthsInRepayment'], bins=months_bins, labels=months_labels, right=False)

In [36]:
df.isnull().sum()

CreditScore             0
FirstPaymentDate        0
FirstTimeHomebuyer      0
MaturityDate            0
MSA                     0
MIP                     0
Units                   0
Occupancy               0
OCLTV                   0
DTI                     0
OrigUPB                 0
LTV                     0
OrigInterestRate        0
Channel                 0
PPM                     0
ProductType             0
PropertyState           0
PropertyType            0
PostalCode              0
LoanSeqNum              0
LoanPurpose             0
OrigLoanTerm            0
NumBorrowers            0
SellerName              0
ServicerName            0
EverDelinquent          0
MonthsDelinquent        0
MonthsInRepayment       0
CreditScore_ca          0
LTV_ca                  1
MonthsInRepayment_ca    0
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28434 entries, 0 to 33085
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CreditScore           28434 non-null  int64
 1   FirstPaymentDate      28434 non-null  int64
 2   FirstTimeHomebuyer    28434 non-null  object
 3   MaturityDate          28434 non-null  int64
 4   MSA                   28434 non-null  object
 5   MIP                   28434 non-null  int64
 6   Units                 28434 non-null  int64
 7   Occupancy             28434 non-null  object
 8   OCLTV                 28434 non-null  int64
 9   DTI                   28434 non-null  int64
 10  OrigUPB               28434 non-null  int64
 11  LTV                   28434 non-null  int64
 12  OrigInterestRate      28434 non-null  float64
 13  Channel               28434 non-null  object
 14  PPM                   28434 non-null  object
 15  ProductType           28434 non-null  object
 16  PropertyState         28434 non-null  object
 17  PropertyType          28434 non-null  object
 18  PostalCode            28434 non-null  object
 19  LoanSeqNum            28434 non-null  object
 20  LoanPurpose           28434 non-null  object
 21  OrigLoanTerm          28434 non-null  float64
 22  NumBorrowers          28434 non-null  float64
 23  SellerName            28434 non-null  object
 24  ServicerName          28434 non-null  object
 25  EverDelinquent        28434 non-null  float64
 26  MonthsDelinquent      28434 non-null  float64
 27  MonthsInRepayment     28434 non-null  float64
 28  CreditScore_ca        28434 non-null  category
 29  LTV_ca                28433 non-null  category
 30  MonthsInRepayment_ca  28434 non-null  category
dtypes: category(3), float64(6), int64(9), object(13)
memory usage: 6.4+ MB

In [39]:
column = 'PropertyType'

# Strip whitespace and convert to uppercase for the specified column
df[column] = df[column].str.strip().str.upper()

# Check for 'X' values and replace them with the mode
if (df[column] == 'X').any():
    mode_value = df[column].mode()[0]
    df[column] = df[column].replace('X', mode_value)
    print(f"Replaced 'X' in column {column} with mode value {mode_value}")

In [40]:

mode_LTV_ca  =df['LTV_ca'].mode()[0]

# Replace null values in 'LTV' column with mode
df['LTV_ca'].fillna(mode_LTV_ca , inplace=True)

In [41]:
df.isnull().sum()

CreditScore             0
FirstPaymentDate        0
FirstTimeHomebuyer      0
MaturityDate            0
MSA                     0
MIP                     0
Units                   0
Occupancy               0
OCLTV                   0
DTI                     0
OrigUPB                 0
LTV                     0
OrigInterestRate        0
Channel                 0
PPM                     0
ProductType             0
PropertyState           0
PropertyType            0
PostalCode              0
LoanSeqNum              0
LoanPurpose             0
OrigLoanTerm            0
NumBorrowers            0
SellerName              0
ServicerName            0
EverDelinquent          0
MonthsDelinquent        0
MonthsInRepayment       0
CreditScore_ca          0
LTV_ca                  0
MonthsInRepayment_ca    0
dtype: int64

In [42]:
# Verify 'X' values are no longer present
print("Checking for 'X' values in the DataFrame:")
x_values_present = df.apply(lambda x: x.astype(str).str.contains('X').any(), axis=0)
print(x_values_present)

Checking for 'X' values in the DataFrame:
CreditScore             False
FirstPaymentDate        False
FirstTimeHomebuyer      False
MaturityDate            False
MSA                     False
MIP                     False
Units                   False
Occupancy               False
OCLTV                   False
DTI                     False
OrigUPB                 False
LTV                     False
OrigInterestRate        False
Channel                 False
PPM                     False
ProductType             False
PropertyState           False
PropertyType            False
PostalCode              False
LoanSeqNum              False
LoanPurpose             False
OrigLoanTerm            False
NumBorrowers            False
SellerName              False
ServicerName            False
EverDelinquent          False
MonthsDelinquent        False
MonthsInRepayment       False
CreditScore_ca          False
LTV_ca                  False
MonthsInRepayment_ca    False
dtype: bool

In [43]:
df.isna().sum()

CreditScore             0
FirstPaymentDate        0
FirstTimeHomebuyer      0
MaturityDate            0
MSA                     0
MIP                     0
Units                   0
Occupancy               0
OCLTV                   0
DTI                     0
OrigUPB                 0
LTV                     0
OrigInterestRate        0
Channel                 0
PPM                     0
ProductType             0
PropertyState           0
PropertyType            0
PostalCode              0
LoanSeqNum              0
LoanPurpose             0
OrigLoanTerm            0
NumBorrowers            0
SellerName              0
ServicerName            0
EverDelinquent          0
MonthsDelinquent        0
MonthsInRepayment       0
CreditScore_ca          0
LTV_ca                  0
MonthsInRepayment_ca    0
dtype: int64

In [44]:
df.dtypes

CreditScore                int64
FirstPaymentDate           int64
FirstTimeHomebuyer        object
MaturityDate               int64
MSA                       object
MIP                        int64
Units                      int64
Occupancy                 object
OCLTV                      int64
DTI                        int64
OrigUPB                    int64
LTV                        int64
OrigInterestRate         float64
Channel                   object
PPM                       object
ProductType               object
PropertyState             object
PropertyType              object
PostalCode                object
LoanSeqNum                object
LoanPurpose               object
OrigLoanTerm             float64
NumBorrowers             float64
SellerName                object
ServicerName              object
EverDelinquent           float64
MonthsDelinquent         float64
MonthsInRepayment        float64
CreditScore_ca          category
LTV_ca                  category
MonthsInRepayment_ca    category
dtype: object

In [45]:
df.to_csv('/content/dashboard_cleaned_file.csv', index=False)

In [46]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/dashboard_cleaned_file.csv')
# Display the first few rows of the dataset
print(df.head())

   CreditScore  FirstPaymentDate FirstTimeHomebuyer  MaturityDate    MSA  MIP  \
0            0            199902                  N        202901  16974   25
1            0            199902                  N        202901  19740    0
2            0            199902                  N        202901  29940    0
3            0            199902                  N        202901  31084    0
4            0            199902                  N        202901  35644    0

   Units Occupancy  OCLTV  DTI  ...  OrigLoanTerm  NumBorrowers  SellerName  \
0      1         O     89   27  ...         360.0           2.0          FL
1      1         O     73   17  ...         360.0           1.0          FT
2      1         O     75   16  ...         360.0           2.0          FL
3      1         O     76   14  ...         360.0           2.0          GM
4      1         O     78   18  ...         360.0           2.0          GM

           ServicerName EverDelinquent MonthsDelinquent MonthsInRepayment  \
0  WASHINGTONMUTUALBANK            0.0              0.0              52.0
1  CHASEHOMEFINANCELLC             0.0              0.0             144.0
2  WASHINGTONMUTUALBANK            0.0              0.0              67.0
3  GMACMTGECORP                    0.0              0.0              35.0
4  GMACMTGECORP                    0.0              0.0              54.0

  CreditScore_ca  LTV_ca MonthsInRepayment_ca
0           Poor    High           Early Paid
1           Poor    High            Late Paid
2           Poor    High           Early Paid
3           Poor    High           Early Paid
4           Poor    High           Early Paid

[5 rows x 31 columns]